body {
  background-color: white;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 60%;
  margin: auto;
  box-shadow: 0px 0px 100px 0px grey;
  padding: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header {
  display: flex;
}

#name {
  font-weight: bold;
  font-size: 265%;
}

.info {
  display: flex;
  margin-left: 0px;
}

.info-icon {
  margin-right: 10px;
}

.info-item {
  margin-top: 2px;
  margin-right: 4em;
  list-style-type: none;
  line-height: 5px;
}

figure {
  margin-left: auto;
}

img {
  height: 200px;
  border-radius: 100%;
  float: right;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: navy;
}

a:hover,
a:focus {
  color: dodgerblue;
}

.segment-wrapper {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.seg-header {
  margin-top: 1em;
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
}

hr {
  border: 2px solid black;
  border-radius: 1px;
}

.segment-col-left {
  flex: auto;
  margin-right: 3em;
}

.title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.descr {
  color: grey;
  font-size: 150%;
  margin-bottom: 2em;
}

#summary {
  font-size: 150%;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 2em;
}

#qualification {
  margin-top: 1em;
  font-size: 150%;
  margin-bottom: 0.5em;
}

.entity-name {
  font-weight: bold;
  font-size: 120%;
}

#location {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.skill {
  margin-top: 0.5em;
  display: flex;
}

.skillbar {
  margin-left: auto;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  width: 40%;
  border-radius: 1em;
  display: flex;
}

.skill-ratio {
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    #838383,
    #616161,
    #414141,
    #232323,
    #000000
  );
  border-radius: 1em;
}

#skill-60 {
  width: 60%;
}

#skill-80 {
  width: 80%;
}

#skill-100 {
  width: 100%;
}

.bullets {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.bullets:first-of-type {
  margin-top: 1em;
}
